@import-normalize;

:root {
  --color-sirius-black: #282c34;
  --color-golden-snitch: #866d1c;
  --color-beige: #ebe0d1;
  --color-blush: #BB9981;
  --color-brown: #5B4C45;
  --color-primary: var(--color-golden-snitch);
  --color-text: var(--color-beige);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a,
a:visited  {
  color: var(--color-text);
  text-decoration: none;
}